<%- include('../partials/header', {title: title}) -%>
    <h1><%- title %></h1>
    <ul>
        <%for (let userElement of users){%> 
            <li><a href="<%=  (userElement.id === user.id) ? "/auth/profile" : `/auth/admin/users/${userElement.id}` %>"><%= user.email %></a></li>
        <%}%>
    </ul>
   
<%- include('../partials/footer') -%>
